
Setup/to be deleted/old-tbd/secure.ps1
Setup/to be deleted/old-tbd/install-robots.ps1
Setup/to be deleted/old-tbd/arm/vmss.json
Setup/to be deleted/old-tbd/arm/vmcount.json
Setup/to be deleted/old-tbd/arm/publicdeploy.json
Setup/to be deleted/old-tbd/arm/azuredeploy.json
Setup/to be deleted/Install-UiPath.ps1
Setup/to be deleted/old-tbd/unattended-robots.ps1
Setup/to be deleted/Prereq/features-w2k8.xml
Setup/to be deleted/Prereq/Install-RolesAndFeatures.ps1
Setup/to be deleted/Prereq/RolesAndFeatures.xml
